<%- include('../layout/header.ejs') %>
<div class="container">
  <h1 class="my-4 text-center">Edit Tech</h1>
</div>
<div class="container my-6">
  <div class="row">
    <form action="<%= tech.id %>/save" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          name="name"
          type="text"
          value="<%= tech.name %>"
          class="form-control col-12"
          id="exampleInputEmail1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Link</label>
        <input
          name="link"
          type="text"
          value="<%= tech.link %>"
          class="form-control col-12"
          id="exampleInputEmail1"
        />
      </div>
      <button type="submit" class="btn btn-success">Edit tech</button>
    </form>
  </div>
</div>
<%- include('../layout/footer.ejs') %>
